.footer-outer-div{
    background: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    height: 74px;
    width: 100%;
    color: #ffffff;
    background: #000000;
}

.row {
     margin-right: 0px !important;
     margin-left: 0px !important; 
}

.boldHeading{
    font-weight: bold;
    color: #544f4d;
    font-family: Arial, sans-serif;
}

ul{
    list-style: inside none;
    -webkit-padding-start: 0px;
    color: #8c8a89;
}

.social-icons{
    height: 50px;
    background: #4c4c4b;
    padding: 17px;
    font-size: 20px;
    border-radius: 50%;
    color: #ffffff;
}

.second-social{
    margin-top: 10px; 
}

.social-icons-div > .row > .col-xs-4{
    padding-left: 0px;
}