.navbarHeader{
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
}
.logoImg{
    width: 100px;
}
.logoText{
    margin-left: -25px;
    font-size: 25px;
    font-weight: bold;
}
.row {
     margin-right: 0px !important;
     margin-left: 0px !important; 
}